html
{
	line-height:1.6;
	background-color: #FFFFFF;
	background-image: url('./img/background.jpg');
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

h4,h5
{
	text-align: center;
	line-height: 1.2;
	font-family: 'Nunito', sans-serif;
	color: #222222;
}

h1
{
	text-align: center;
	font-weight: 400;
	font-size: 48px;
	-webkit-margin-after: 0.4em;
	color: #222222;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h2
{
	text-align: center;
	font-weight: 400;
	font-size: 36px;
	-webkit-margin-before: 0.4em;
	color: #222222;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

h3
{
	font-weight: bolder;
	font-weight: 400;
	font-size: 24px;
	color: #222222;
	font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
br.no-space
{
	display: block;
	margin: 10px 0px;
	content: " ";
}

#vertspace
{
	margin-left: 5px;
}

#row-one
{
	float: left;
}

.container {
	display:flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

#row-two
{
	float: left;
	margin-left: 10%;
	margin-right: 10%;
}

#row-three
{
	float: left;
}

.card
{
	text-decoration: none;
	display: block;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 1px;
	padding-bottom: 1px;
	height: 185px;
	width: 150px;
	vertical-align: middle;
	justify-content: center;
	margin-bottom: 25%;

}
	#twitter.card{
			background-image: url('./img/logo-twitter.svg');
			background-repeat: no-repeat;
			background-position: center top;
			text-decoration: none;
			display: block;
			background-size: 150px 150px;
			vertical-align: middle;
			text-align: center;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-bottom: 25%;
	}
	#github.card{
			background-image: url('./img/logo-github.svg');
			background-repeat: no-repeat;
			background-position: center top;
			text-decoration: none;
			display: block;
			background-size: 150px 150px;
			vertical-align: middle;
			text-align: center;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-bottom: 25%;
	}
	#linkedin.card{
			background-image: url('./img/logo-linkedin.svg');
			background-repeat: no-repeat;
			background-position: center top;
			text-decoration: none;
			display: block;
			background-size: 150px 150px;
			vertical-align: middle;
			text-align: center;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 5px;
			padding-bottom: 5px;
			margin-bottom: 25%;
	}
	#mail.card{
			background-image: url('./img/logo-mail.svg');
			background-repeat: no-repeat;
			background-position: center top;
			text-decoration: none;
			display: block;
			background-size: 150px 150px;
			vertical-align: middle;
			text-align: center;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 5px;
			padding-bottom: 5px;
	}
	#interests.card{
		background-image: url('./img/logo-interests.svg');
		background-repeat: no-repeat;
		background-position: center top;
		text-decoration: none;
		display: block;
		background-size: 150px 150px;
		vertical-align: middle;
		text-align: center;
		padding-left: 5px;
		padding-right: 5px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	#reddit.card{
			background-image: url('./img/logo-reddit.svg');
			background-repeat: no-repeat;
			background-position: center top;
			text-decoration: none;
			display: block;
			background-size: 150px 150px;
			vertical-align: middle;
			text-align: center;
			padding-left: 5px;
			padding-right: 5px;
			padding-top: 5px;
			padding-bottom: 5px;
	}

p.label
{
	font-size: 155%;
	vertical-align: baseline;
	margin-top: 150px;
	font-family: 'Nunito', sans-serif;
	color: #222222;
	font-weight: bolder;
	text-decoration: none;
}

#content
{
	margin-top: 4%;
	margin-bottom: 5%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	text-align: center;
	height: 79%;

}

p a
{
	text-decoration: underline;
	color: #444444;
}

footer
{
	text-align: center;
	font-size: 16pt;
	color: #444444;
	text-decoration: none;
	margin-bottom: 5%;
}

#main
{
	padding-left: 50px;
	padding-right: 50px;
}

#main-goals
{
	text-align: left;
	font-size: 16pt;
}

#main-education
{
	text-align: left;
	font-size: 16pt;
}

#back-button
{
	height: 75px;
	width: 75px;
}

.center
{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 50%;
}

p.source a
{
	font-size: 14pt;
	text-decoration: none;
}
